<% provide(:title, "Log in") %>
<div class="jumbotron">
 <div class="row">
  <div class="col-xs-12 col-md-8">
    <%= link_to image_tag("doctorbig.png", alt: "cDoctor Logo"), '#' %>
  </div>
  <%= render 'layouts/formlogin' %>  
  </div>
</div>
